page-createroute {
   .card-md {
        margin: 10px;
        border-radius: 2px;
        width: calc(100% - 20px);
        font-size: 1.4rem;
        background: #fff;
        box-shadow: 0 0 0 0 #fff;
    }
    .card_content {
        margin: 0px !important; 
        padding: 7px !important; 
        font-size: 1.4rem; 
        line-height: 1.5;
    }
    .card_title_user {
        text-align: center; 
        display: flex; 
        margin: 0px !important;
         padding: 0px !important; 
        font-size: 2.4rem; 
        line-height: 1.2; 
    }
    .img_user_card{
        width: 50px; 
        height: 50px; 
        border-radius: 50px;
    }
    .label_card_user {
        padding-top: 17px !important; 
        padding-left: 9px; 
        font-size: 18px;
    }
}
