page-profile {
	.img-account{
        height: 40px;
        float: left;
    }
    .txt-title {
        font-size: 12px;
    }
    .img_logo_user {
        height: 182px;
        text-align: center;
       
    }
    .img_user {
        height: 180px;
        width: 180px;
        border-radius: 180px;
        box-shadow: 0px -4px 23px -2px #13859a;
    }
    .btns_change_img_user {
        text-align: center;
    }

}
