page-logoutimage {
	.img_logo_user {
        height: 120px;
        text-align: center;
       
    }
    .img_user {
        height: 120px;
        width: 120px;
        border-radius: 120px;
        box-shadow: 0px 0px 5px #343434;
    }
    .btns_change_img_user {
        text-align: center;
    }
}
